<header ng-switch on="$location.path().indexOf('/AppeloffreVentes/new') > -1">
    <h3 ng-switch-when="true">Create a new AppeloffreVente</h3>
    <h3 ng-switch-when="false">View or edit AppeloffreVente</h3>
</header>
<form id="AppeloffreVenteForm" name="AppeloffreVenteForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.libelleoffre.$invalid}">
        <label for="libelleoffre" class="col-sm-2 control-label">Libelleoffre</label>
        <div id="libelleoffreControls" class="col-sm-10">
            <input id="libelleoffre" name="libelleoffre" type="text" class="form-control" ng-model="appeloffreVente.libelleoffre" placeholder="Enter the AppeloffreVente Libelleoffre"></input>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.pays.$invalid}">
        <label for="pays" class="col-sm-2 control-label">Pays</label>
        <div id="paysControls" class="col-sm-10">
        <select id="pays" name="pays" class="form-control" ng-model="appeloffreVente.pays" ng-options="p for p in paysList"  >
            <option value="">Choose a Pays</option>
        </select>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.region.$invalid}">
        <label for="region" class="col-sm-2 control-label">Region</label>
        <div id="regionControls" class="col-sm-10">
        <select id="region" name="region" class="form-control" ng-model="appeloffreVente.region" ng-options="r for r in regionList"  >
            <option value="">Choose a Region</option>
        </select>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.ville.$invalid}">
        <label for="ville" class="col-sm-2 control-label">Ville</label>
        <div id="villeControls" class="col-sm-10">
            <input id="ville" name="ville" type="text" class="form-control" ng-model="appeloffreVente.ville" placeholder="Enter the AppeloffreVente Ville"></input>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.localite.$invalid}">
        <label for="localite" class="col-sm-2 control-label">Localite</label>
        <div id="localiteControls" class="col-sm-10">
            <input id="localite" name="localite" type="text" class="form-control" ng-model="appeloffreVente.localite" placeholder="Enter the AppeloffreVente Localite"></input>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.prixvente.$invalid}">
        <label for="prixvente" class="col-sm-2 control-label">Prixvente</label>
        <div id="prixventeControls" class="col-sm-10">
            <input id="prixvente" name="prixvente" type="number" class="form-control" ng-model="appeloffreVente.prixvente" placeholder="Enter the AppeloffreVente Prixvente"></input>
            <span class="help-block error" ng-show="AppeloffreVenteForm.prixvente.$error.number">not a number</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.disponibilite.$invalid}">
        <label for="disponibilite" class="col-sm-2 control-label">Disponibilite</label>
        <div id="disponibiliteControls" class="col-sm-10">
            <input id="disponibilite" name="disponibilite" type="text" class="form-control" ng-model="appeloffreVente.disponibilite" placeholder="Enter the AppeloffreVente Disponibilite"></input>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.quantite.$invalid}">
        <label for="quantite" class="col-sm-2 control-label">Quantite</label>
        <div id="quantiteControls" class="col-sm-10">
            <input id="quantite" name="quantite" type="number" class="form-control" ng-model="appeloffreVente.quantite" placeholder="Enter the AppeloffreVente Quantite"></input>
            <span class="help-block error" ng-show="AppeloffreVenteForm.quantite.$error.number">not a number</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': AppeloffreVenteForm.nomproducteur.$invalid}">
        <label for="nomproducteur" class="col-sm-2 control-label">Nomproducteur</label>
        <div id="nomproducteurControls" class="col-sm-10">
            <input id="nomproducteur" name="nomproducteur" type="text" class="form-control" ng-model="appeloffreVente.nomproducteur" placeholder="Enter the AppeloffreVente Nomproducteur"></input>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveAppeloffreVente" name="saveAppeloffreVente" class="btn btn-primary" ng-disabled="isClean() || AppeloffreVenteForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteAppeloffreVente" name="deleteAppeloffreVente" class="btn btn-danger" ng-show="appeloffreVente.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    <div>
</form>