<div class="form-horizontal">
    <h3>Create a new AppeloffreAchat</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/AppeloffreAchats/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for AppeloffreAchats</h3>
    <form id="AppeloffreAchatSearch" class="form-horizontal">
    <div class="form-group">
        <label for="libeleoffre" class="col-sm-2 control-label">Libeleoffre</label>
        <div class="col-sm-10">
            <input id="libeleoffre" name="libeleoffre" class="form-control" type="text" ng-model="search.libeleoffre" placeholder="Enter the AppeloffreAchat Libeleoffre"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="nomemetteur" class="col-sm-2 control-label">Nomemetteur</label>
        <div class="col-sm-10">
            <input id="nomemetteur" name="nomemetteur" class="form-control" type="text" ng-model="search.nomemetteur" placeholder="Enter the AppeloffreAchat Nomemetteur"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="prixAchat" class="col-sm-2 control-label">Prix Achat</label>
        <div class="col-sm-10">
            <input id="prixAchat" name="prixAchat" class="form-control" type="text" ng-model="search.prixAchat" placeholder="Enter the AppeloffreAchat Prix Achat"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="quantite" class="col-sm-2 control-label">Quantite</label>
        <div class="col-sm-10">
            <input id="quantite" name="quantite" class="form-control" type="text" ng-model="search.quantite" placeholder="Enter the AppeloffreAchat Quantite"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="Filiere" class="col-sm-2 control-label">Filiere</label>
        <div class="col-sm-10">
            <select id="Filiere" name="Filiere" class="form-control" ng-model="search.Filiere" ng-options="F as F for F in FiliereList">
                <option value="">Choose a Filiere</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="nomproducteur" class="col-sm-2 control-label">Nomproducteur</label>
        <div class="col-sm-10">
            <input id="nomproducteur" name="nomproducteur" class="form-control" type="text" ng-model="search.nomproducteur" placeholder="Enter the AppeloffreAchat Nomproducteur"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="commande" class="col-sm-2 control-label">Commande</label>
        <div class="col-sm-10">
            <input id="commande" name="commande" class="form-control" type="text" ng-model="search.commande" placeholder="Enter the AppeloffreAchat Commande"></input>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Libeleoffre</th>
                    <th>Nomemetteur</th>
                    <th>Datedebut</th>
                    <th>Datefin</th>
                    <th>Prix Achat</th>
                    <th>Quantite</th>
                    <th>Filiere</th>
                    <th>Nomproducteur</th>
                    <th>Commande</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.libeleoffre}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.nomemetteur}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.datedebut| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.datefin| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.prixAchat}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.quantite}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.Filiere}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.nomproducteur}}</a></td>
                    <td><a href="#/AppeloffreAchats/edit/{{result.id}}">{{result.commande}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
</div>