<script>
   angular.module('dateInputExample', [])
     .controller('DateController', ['$scope', function($scope) {
       $scope.value = new Date(2013, 9, 22);
     }]);
</script>
<hr/>
<div>
    <h3>Search for Prix - Periode</h3>
    <form id="PrixPeriode" class="form-horizontal">
    <div class="form-group">
        <label for="nomproduit" class="col-sm-2 control-label">NomProduit</label>
        <div class="col-sm-10">
            <input id="nomproduit" name="nomproduit" class="form-control" type="text" ng-model="search.nomproduit" placeholder="Enter the Produit NomProduit"></input>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': PrixPeriodeForm.date1.$invalid}">
        <label for="date1" class="col-sm-2 control-label">Date_1</label>
        <div id="date1Controls" class="col-sm-10">
         <input type="date" id="date1" name="date1" class="form-control" value="" ng-model="search.date1 " min="2014-01-01" max="2015-01-01">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': PrixPeriodeForm.date2.$invalid}">
        <label for="date2" class="col-sm-2 control-label">Date_2</label>
        <div id="date2Controls" class="col-sm-10">
             <input type="date" id="date2" name="date2" class="form-control" value="" ng-model="search.date2 " min="2014-01-01" max="2015-01-01" >
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
                <a id="Search" name="Search" class="btn btn-primary" ng-click="searchByPeriode()"><span class="glyphicon glyphicon-search"></span> Search-periode</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>NomProduit</th>
                    <th>Date-creation</th>
                    <th>Prix</th>                    
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>{{result.nomproduit}}</a></td>
                    <td>{{result.date  | date:'dd-MM-yyyy'}}</a></td>
                    <td>{{result.prix}}</a></td>

                </tr>
            </tbody>
        </table>
        <table class="table table-responsive table-bordered table-striped clearfix">
        	<tr>
        			 <th>Prix-Moyen</th>
                   	 <th>{{prixp}}</th>
        	</tr>
        </table>
    </div>
    <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
</div>